<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./not-found.css">   
    <link rel="stylesheet" href="../header/header-verde.css"> 
    <link rel="stylesheet" href="../footer/footer.css">
    <title>404: Not Found</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="Logo">
    </header>

    <main class="main">
           <section class="main__container animated pulse">
            <h1 class="main__container--title">404</h1>
            <p class="main__container--subtitle">Página no encontrada</p>
           </section>
    </main>

    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>