<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="carrousel.css">
    <title>Carrousel</title>
</head>
<body>
    <section class="carrousel">
        <div class="carrousel__container">
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?movie/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://source.unsplash.com/random?people/1600x900" alt="People">
                <div class="carrousel-item__details">
                    <div>
                        <img alt="Play" src="https://img.icons8.com/flat_round/64/000000/play--v1.png"/>
                        <img alt="Plus" src="https://img.icons8.com/flat_round/64/000000/plus.png"/>
                    </div>
                    <p class="carrousel-item__details--title">Título descriptivo</p>
                    <p class="carrousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>